# 全ファイルを無視
*

!.gitignore
!.gitkeep

!*.kt

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!/config/
!/config/*.yml

!/gradle/
!/gradle/wrapper/
!/gradle/wrapper/*.jar
!/gradle/wrapper/*.properties
!/gradle/*.properties
!/gradle/*.toml

!/lib/
!/lib/api/
!/lib/api/**/
!/lib/api/**/*.api
!/lib/src/
!/lib/src/**/
!/lib/src/**/*.properties
!/lib/src/**/*.xml
!/lib/build.gradle.kts
!/lib/*.xml

!/AGENT.md
!/bumpver.toml
!/commitlint.config.cjs
!/gradle.properties
!/gradlew
!/gradlew.bat
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/README.md
!/*.gradle.kts
